:root {
  --main-white: #f0f0f0;
  --main-red: #e80000;
  --main-blue: #8babf5;
  --main-gray: #747474;
}

@media (max-width: 790px) {
  .topnav {
    flex-direction: column;
  }
  #logo {
    width: auto;
  }
  .div-info {
    padding-top: 480px;
  }
  #media-title {
    padding-top: 300px;
  }

  #main-div-product {
    padding-top: 350px;
  }

  #background {
    height: 800px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  height: 58px;
  width: auto;
  padding: 2px 25px 2px 25px;
  float: left;
}

.topnav {
  overflow: hidden;
  background-color: var(--main-gray);
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 99;
  border-bottom-style: outset;
}

.topnav a {
  float: right;
  color: #ddd;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 28px;
  font-family: fantasy;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: var(--main-red);
  color: white;
}

.background {
  background-image: url("img/background.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.div-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  vertical-align: middle;
  line-height: 80px;
  text-align: center;
  opacity: 0.75;
  border-radius: 10px;
}

input[type="button"] {
  width: 100%;
  background-color: #4caf50;
  color: black;
  height: 75px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 2;
  font-weight: 1000;
  font-size: 25px;
}

input[type="button"]:hover {
  background-color: #45a049;
}

.ironmanTitle {
  font-size: 70px;
  text-align: center;
  font-family: fantasy;
  color: var(--main-red);
  padding: 10px;
  -webkit-text-stroke: 2px black;
}

.linkTo {
  color: black;
  font-weight: bolder;
}

.indexPage {
  background-color: var(--main-gray);
  padding-bottom: 30px;
}

.pIndex {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px 25px;
  font-size: 23px;
  font-weight: 650;
}

#media-first-div {
  background-image: url(img/winner.jpg);
  background-position: center;
  background-size: cover;
  padding: 90px 0px;
}

#medaliests {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#medaliests td,
#medaliests th {
  border: 1px solid #ddd;
  padding: 8px;
}

#medaliests tr {
  background-color: #f2f2f2d2;
}

#medaliests tr:nth-child(even) {
  background-color: #f2f2f2;
}

#medaliests tr:hover {
  background-color: #ddd;
}

#medaliests th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

#media-second-div {
  background-color: var(--main-gray);
  padding: 1em;
}

.container-photos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5em;
}

.photos {
  flex: 1 1 100%;
  padding: 0.5em;
}

.photos-inner {
  background-size: cover;
  background-image: url("img/1.jfif");
  padding-top: calc(100% / (16 / 9));
}

.photos:nth-child(2) .photos-inner {
  background-image: url("img/2.jfif");
}

.photos:nth-child(3) .photos-inner {
  background-image: url("img/3.jfif");
}

.photos:nth-child(4) .photos-inner {
  background-image: url("img/4.jfif");
}

.photos:nth-child(5) .photos-inner {
  background-image: url("img/5.jfif");
}

.photos:nth-child(6) .photos-inner {
  background-image: url("img/6.jfif");
}

.photos:nth-child(7) .photos-inner {
  background-image: url("img/7.jfif");
}

.photos:nth-child(8) .photos-inner {
  background-image: url("img/8.jfif");
}

.photos:nth-child(9) .photos-inner {
  background-image: url("img/9.jfif");
}

.photos:nth-child(10) .photos-inner {
  background-image: url("img/10.jfif");
}

.photos:nth-child(11) .photos-inner {
  background-image: url("img/11.jfif");
}

.photos:nth-child(12) .photos-inner {
  background-image: url("img/12.jfif");
}

.container-videos {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 40px 0px 40px 0px;
}

.video {
  width: 30%;
}

.video-inner {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .photos {
    flex: 1 1 50%;
  }
}

@media screen and (min-width: 768px) {
  .photos {
    flex: 1 1 33.333%;
  }
}

@media screen and (min-width: 980px) {
  .photos {
    flex: 1 1 25%;
  }
}

.div-page-contact {
  background-color: var(--main-gray);
  padding-bottom: 20px;
}

.contact-first-div {
  background-image: url(img/contact.jfif);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 20px;
}

.contactusTitle {
  font-size: 14vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Anton", sans-serif;
  -webkit-text-stroke: 0.1px black;
}

input[type="email"],
select,
textarea,
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 0px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.div-form {
  margin: 40px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.main-div-product {
  padding-top: 90px;
}

.title-div-products {
  max-width: 500px;
  width: 100%;
  padding: 30px;
  margin: 0 auto 30px;
  background: orange;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

.products-div {
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.product-div-inner {
  width: 325px;
  margin: 10px;
  background: orange;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 25px;
}

.product-div-inner img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.product-div-inner h3 {
  color: #444;
}

.product-div-inner a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}
.product-div-inner p {
  margin: 15px 0;
}

.link-web {
  display: flex;
}

.link-web a {
  background: #ddd;
  display: block;
  width: 100%;
  margin: 0 10px;
  padding: 10px;
  border-radius: 6px;
  color: #444;
  text-transform: capitalize;
}

.link-web a:hover {
  background: #7bbb5e;
  color: #fff;
}
.ek-title {
  color: #fff;
  text-align: center;
  font-size: 5.5em;
  font-family: "Satisfy", cursive;
}
.icons-div {
  display: flex;
  justify-content: space-around;
}
.icons-div i {
  font-family: FontAwesome;
  font-style: normal;
  color: #fff;
  margin-right: 20px;
}
.icons-div i:hover {
  color: var(--main-red);
}
